* {
    main-bg:            #1e1e1e80;  /* Transparent dark background color */
    main-fg:            #ffffff;    /* White foreground color */
    main-br:            #bbbbbb;    /* Light gray for borders or highlights */
    main-ex:            #888888;    /* Medium gray for accents or highlights */
    select-bg:          #44444480;  /* Transparent darker gray for selected backgrounds */
    select-fg:          #ffffff;    /* White for selected foreground text */
    separatorcolor:     transparent; /* Transparent separator */
    border-color:       transparent; /* Transparent border color */
}

